# ignore raw data (large downloaded files), except census file needed by dashboard
data/raw_data/*
!data/raw_data/nhgis0001_csv/
data/raw_data/nhgis0001_csv/*
!data/raw_data/nhgis0001_csv/nhgis0001_ds215_20155_tract.csv

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store
